/* CSS for the end page */
.center-text {
  text-align: center;
}

.my {
  margin: 10px auto;
}

#name {
  text-align: center;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: bolder;
  border: 1px solid #d8f3dc;
  border-radius: 5px;
  width: 70%;
  padding: 5px;
  background-color: #d8f3dc;
  color: #003049;
}

#save-msg {
  opacity: 70%;
  font-style: italic;
  display: none;
}