/* Main CSS file for the quiz game */
/* Importing a Google font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #003049;
  color: #d8f3dc;
}

/* Basic container CSS */
.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;  
  justify-content: center;
  margin: 50px auto;
  overflow: hidden;
}

.start-page h1,
.start-page h2,
.start-page a{
  text-align: center;
}

.start-page ol li{
  list-style-position: inside;
}

.btn {
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  border: 1px solid #d8f3dc;
  border-radius: 10px;
  text-decoration: none;
  width: 50%;
  padding: 10px;
}

.btn:hover {
  font-size: large;
  box-shadow: 1px 1px 3px #d8f3dc;
}

.text-center {
  margin: 20px auto;
}

.mx-20px {
  margin: 20px 0;
} 

.mx-5px {
  margin: 5px 0;
}

